* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}

/*----------------*/
/*   Navigation   */
/*----------------*/
.logo-link{
    width:200px;
    position: absolute;
    top:0px;
    left:0px;
    z-index:100;
}
.logo-link>img{
    width:inherit;
}
.zoom-menu{
    position: absolute;
    z-index: 100;
    top: 75px;
    right:30%;
    transition: right 1s
}
.menu-collapse{}
.zoom-nav{
    width:35px;
    height:35px;
    border-radius: 50%;
    background-color: #999;
    font-size: 1.25em;
    padding-top: 9px;
    padding-left: 1px;
    text-align: center;
    margin:10px 10px;
    color: #333;
}
.zoom-nav:hover{
    background-color:#4c0505;
    color:white;
}


#social-links{
    width: 220px;
    font-size:16px;
    margin: 0px auto;
}
/*----------------*/
/* Info Panel CSS */
/*----------------*/
.info-panel {
    display: inline-block;
    position: absolute;;
    text-align: center;
    width: 30%;
    height: 100%;
    right: 0;
    background-color: #4c0505;
    color: white;
    /*border: 10px solid blue;*/
    padding: 50px;
    box-shadow: -5px 0px 5px rgba(0,0,0,.25);
    transition: right .5s top 1s;
    overflow:scroll;
}
.info-panel p{}
#location-title{
    font-family: 'Cinzel', serif;
    font-size: 3.5em;
}
#location-blurb{
    font-family: 'Titillium Web', sans-serif;
    text-align: left;
    letter-spacing: .1em;
    font-weight: 300;
}
/* Model Photos */
#modelContainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.modelPhoto{
    width:100px;
    padding:3px;
    margin: 3px auto;
    height:100px;
    background: url('') no-repeat;
    background-position: center;
    background-size: cover;
}
#location-title{}
#location-faction{
    width:100px;
    height:100px;
    margin: 0px auto;
    background: url('') no-repeat;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow:visible;
}
#down-arrow{
    display:none;
    color:white;

}
.menu-open{
    right:0;
}
.menu-closed{
    right:-30%;
}
.zoom-open{
    right:30%;
}
.zoom-closed{
    right:0%;
}


/*---------*/
/* Map CSS */
/*---------*/
.map-canvas {
    display: inline-block;
    position: absolute;
    background-color: #444;
    /*border: 10px solid red;*/
    height: 100%;
    width: 100%;
    overflow: scroll;
    z-index: 0;
    transition: width 1s;

}
.map-container {
    transform-origin: 75% 75%;
    transition: transform 1s;
}
#map-image{
    box-shadow: 0px 0px 15px rgba(0,0,0,.5);
}
.location-dot{
    display:block;
    position: absolute;
    background-color:rgba(102, 0, 0,.5);
    width:50px;
    height:50px;
    margin: -25px -25px;
    border-radius: 50%;
    color:white;

}
.location-dot:hover{
    background-color: rgba(0,0,102,.5);
}
.location-dot:focus{
    background-color: #aaa;
}
#draggable {
    width: 100%;
    height: 100%;
    padding: 0.5em;
}

/*----------------------------------*/
/*  Media Rules for Mobile Screens  */
/*----------------------------------*/
@media screen and (max-width:980px) {
    .logo-link{
        width:250px;
    }
    .zoom-menu{
        display: flex;
        height: 50px;
        flex-direction: row;
        position: absolute;
        top: 88%;
        right: 25px;
    }
    #down-arrow{
        display: block;
        font-size: 30px;
        margin-top: -9px;
    }
    #menu-collapse{
        display: none;
    }
    .info-panel{
        font-size:1.1em;
        text-align: center;
        width:100%;
        height:auto;
        padding:10px 25px;
        top:95%;
        right:0px;
        left:0px;
        margin: 0px auto;
    }
    .nav{
        text-align: center;
    }
    #location-faction{
        margin-top: 15px;
    }
}
