* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}

/*----------------*/
/*   Navigation   */
/*----------------*/
.zoom-menu{
    position: absolute;
    z-index: 100;
    top: 75px;
    right:25%
}
.zoom-nav{
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: #999;
    text-align: center;
    text-size:10px;
    padding-top:8px;
    margin:10px 10px;
}
.zoom-nav:hover{
    background-color:#4c0505;
    color:white;
}


/*----------------*/
/* Info Panel CSS */
/*----------------*/
.info-panel {
    display: inline-block;
    position: absolute;;
    width: 25%;
    height: 95.5%;
    right: 0;
    background-color: #4c0505;
    color: white;
    /*border: 10px solid blue;*/
    padding: 50px;
    text-align: center;
    box-shadow: -5px 0px 5px rgba(0,0,0,.25);
}
.info-panel p{}
#location-title{
    font-family: 'Oswald', sans-serif;
    font-size: 3.5em;
}
#location-blurb{
    font-family: 'Poppins',sans-serif;
    text-align: left;
    letter-spacing: .1em;
    font-weight: 300;
}


/*---------*/
/* Map CSS */
/*---------*/
.map-canvas {
    display: inline-block;
    position: absolute;
    background-color: #444;
    /*border: 10px solid red;*/
    height: 95.5vh;
    width: 75%;
    overflow: scroll;
    z-index: 0;

}
.map-container {
    transform-origin: 50% 50%;
    transition: transform 1s;
}
#map-image{
    box-shadow: 0px 0px 15px rgba(0,0,0,.5);
}
.location-dot{
    display:block;
    position: absolute;
    background-color:rgba(102, 0, 0,.5);
    width:50px;
    height:50px;
    margin: -25px -25px;
    border-radius: 50%;
    color:white;

}
.location-dot:hover{
    background-color: #999;
}
.location-dot:focus{
    background-color: #aaa;
}
#draggable {
    width: 150px;
    height: 150px;
    padding: 0.5em; }
